@-moz-document domain("google.com") {
#gb {
    font: 9pt/23pt arial,sans-serif;
}

.gsfs {
    font: 10pt arial,sans-serif;
}

.mitem > .kl, #ms > .kl, .msel {
    font-size: 12px;
    line-height: 25px;
}
}

@-moz-document regexp("https?:\\/\\/www.google\\..*\\/"), regexp("https?:\\/\\/www.google\\..*\\/webhp.*"), regexp("https?:\\/\\/google\\..*\\/"), regexp("https?:\\/\\/google\\..*\\/webhp.*"), regexp("https?:\\/\\/images.google\\..*\\/"), regexp("https?:\\/\\/images.google\\..*\\/imghp.*"), regexp("https?:\\/\\/www.google\\..*\\/imghp.*"), regexp("https?:\\/\\/google\\..*\\/imghp") {
body {
    overflow-y: hidden;
}
}
